### **Question E | Multiresolution Correlation, Hurst Exponent and Annualized Volatility**

> 1. With Haar wavelets and the dataset provided with TD5, determine the multiresolution correlation
between all the pairs of FX rates, using GBPEUR, SEKEUR, and CADEUR (work with the average between
the highest and the lowest price and transform this average price in returns on the smallest time step).
Do you observe an Epps effect and how could you explain this?

In [13]:
# Open data file
import pandas as pd
import pandas as pd

raw_data = pd.read_excel("Dataset TD5.xlsx", header=None)
raw_data.head(3)

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GBPEUR Curncy,NaN,NaN,NaN,SEKEUR Curncy,NaN,NaN,NaN,CADEUR Curncy,NaN,NaN
2,Date,HIGH,LOW,NaN,Date,HIGH,LOW,NaN,Date,HIGH,LOW

In [ ]:
# We fix the data by handpicking columns to make the dataframe we want
df = pd.DataFrame()

# For pound - euro
df["high_GBPEUR"] = raw_data.iloc[3:, 1] # 2nd column starting from 4th row
df["low_GBPEUR"]  = raw_data.iloc[3:, 2] # 3rd column starting from 4th row

# For sweden crown - euro
df["high_SEKEUR"] = raw_data.iloc[3:, 5] # 6th column starting from 4th row
df["low_SEKEUR"]  = raw_data.iloc[3:, 6] # 7th column starting from 4th row

# For canada dollar - euro
df["high_CADEUR"] = raw_data.iloc[3:, 9] # 10th column starting from 4th row
df["low_CADEUR"]  = raw_data.iloc[3:, 10] # 11th column starting from 4th row

# Then we add the date 
df["date"] = raw_data.iloc[3:, 0] # 1st column starting from 4th row
df

,high_GBPEUR,low_GBPEUR,high_SEKEUR,low_SEKEUR,high_CADEUR,low_CADEUR,date
3,1.2932,1.2917,0.10725,0.1072,0.6842,0.6829,2016-03-07 08:59:59.990000
4,1.294,1.293,0.10728,0.10717,0.6849,0.6841,2016-03-07 09:15:00
5,1.2943,1.2922,0.10726,0.10719,0.6844,0.6837,2016-03-07 09:30:00
6,1.293,1.2913,0.10728,0.10721,0.6844,0.6839,2016-03-07 09:45:00
7,1.2931,1.2921,0.10725,0.10719,0.684,0.6835,2016-03-07 10:00:00
...,...,...,...,...,...,...,...
12927,1.1879,1.1867,0.10536,0.10531,0.6897,0.6893,2016-09-07 17:00:00
12928,1.1883,1.1874,0.10537,0.10534,0.6902,0.6895,2016-09-07 17:15:00
12929,1.188,1.1874,0.10538,0.10536,0.6902,0.6898,2016-09-07 17:30:00
12930,1.1874,1.1866,0.10537,0.10536,0.6902,0.6901,2016-09-07 17:45:00
12931,1.187,1.1869,0.10537,0.10537,0.6901,0.6901,2016-09-07 18:00:00

> 2. Calculate the Hurst exponent of GBPEUR, SEKEUR, and CADEUR. Determine their annualized
volatility using the daily volatility and Hurst exponents.