In [15]:
import pandas as pd
import numpy as np
from scipy.stats import norm, gaussian_kde

In [16]:
df = pd.read_csv("Natixis Stock.csv", header=None, sep=r"\s+", names=["Date", "Price"])
df.head()

         Date  Price
0  02/01/2015  5,621
1  05/01/2015  5,424
2  06/01/2015  5,329
3  07/01/2015  5,224
4  08/01/2015  5,453

In [17]:
df["Date"]=pd.to_datetime(df["Date"], format="%d/%m/%Y", errors="coerce")
df["Price"]=df["Price"].str.replace(",",".").astype(float)

In [18]:
print(df.head(5))
print(df.tail(5))
print(df.describe())
print("Dates:", df.index.min(), "→", df.index.max())
print("Nb lignes:", len(df), "| Nb NaN price:", df["Price"].isna().sum())
print("Prix > 0 ? ", (df["Price"] > 0).all())

        Date  Price
0 2015-01-02  5.621
1 2015-01-05  5.424
2 2015-01-06  5.329
3 2015-01-07  5.224
4 2015-01-08  5.453
           Date  Price
1018 2018-12-21  4.045
1019 2018-12-24  4.010
1020 2018-12-27  3.938
1021 2018-12-28  4.088
1022 2018-12-31  4.119
                                Date        Price
count                           1023  1023.000000
mean   2016-12-30 10:54:32.727272704     5.684600
min              2015-01-02 00:00:00     3.077000
25%              2016-01-02 00:00:00     4.927000
50%              2016-12-29 00:00:00     5.782000
75%              2017-12-28 12:00:00     6.532000
max              2018-12-31 00:00:00     7.744000
std                              NaN     1.021034
Dates: 0 → 1022
Nb lignes: 1023 | Nb NaN price: 0
Prix > 0 ?  True

In [19]:
# la date va que jusqu'à decembre 2016
df1 =df[(df["Date"]>="2015-01-01") & (df["Date"]<="2016-12-31")]
df1 = df1.iloc[1:,:]
df = df.iloc[1:,:]
print(df.tail(5))

           Date  Price
1018 2018-12-21  4.045
1019 2018-12-24  4.010
1020 2018-12-27  3.938
1021 2018-12-28  4.088
1022 2018-12-31  4.119

In [20]:
alpha=0.05

In [21]:
df1["return"]=df1["Price"].pct_change()
df["return"]=df["Price"].pct_change()

varEmp=df1["return"].quantile(alpha)
print(f"Empirical VaR at {(1-alpha) *100:.2f}% : {varEmp*100}%") #il faut que ce soit négatif

Empirical VaR at 95.00% : -3.788407989779058%

In [22]:
mu = df1['return'].mean()
sigma = df1['return'].std()
z = norm.ppf(alpha)
varParam = (mu + sigma * z)# Generate 100'000 standard normal random values
print(f"Parametric VaR ({(1 - alpha) * 100:.2f}%): {varParam*100:.6f}%")

Parametric VaR (95.00%): -3.898272%

In [23]:
insample   = df1[(df1["Date"] <= "2016-12-31")]["return"].dropna()
outsample  = df[(df["Date"] >= "2017-01-01") & (df1["Date"] <= "2018-12-31")]["return"].dropna()

var_hist = -np.nanpercentile(insample, alpha*100)

exc_in  = np.mean(insample < -var_hist)
exc_out = np.mean(outsample < -var_hist)

print(f"In-sample exceedances  = {exc_in*100:.2f}%")
print(f"Out-of-sample exceed. = {exc_out*100:.2f}%")#problème ici car comme on prend à l'origine 2015 --> 2016 et que mtn on veux prendre le reste, on a déjà nettoyer les données

In-sample exceedances  = 5.09%
Out-of-sample exceed. = nan%

In [24]:
#var paramétrique --> peut avoir des erreurs de paramètres
#on utilise donc la var non param pour eviter ces erreurs de paramètre

In [25]:
#calcul de la VaR avec moins de points sur deux mois uniquement
#  Question 3
df2 =df[(df["Date"]>="2016-10-01") & (df["Date"]<="2016-12-31")]
varEmp=df2["return"].quantile(alpha)
print(f"Empirical VaR at {(1-alpha) *100:.2f}% : {varEmp*100}%") #il faut que ce soit négatif

Empirical VaR at 95.00% : -2.4483182167546773%

In [26]:
mu = df2['return'].mean()
sigma = df2['return'].std()
z = norm.ppf(alpha)
varParam = (mu + sigma * z)# Generate 100'000 standard normal random values
print(f"Parametric VaR ({(1 - alpha) * 100:.2f}%): {varParam*100:.6f}%")

Parametric VaR (95.00%): -2.342231%

# TD2

In [27]:
df.head()

        Date  Price    return
1 2015-01-05  5.424       NaN
2 2015-01-06  5.329 -0.017515
3 2015-01-07  5.224 -0.019704
4 2015-01-08  5.453  0.043836
5 2015-01-09  5.340 -0.020723

In [ ]:
stock = df[df["Prce"] == "2018-12-31"]
print(stock)